$color-blue-light: #74ddd8;
$color-blue-medium: #224460;
$color-blue-dark: #0d283d;

$color-black: #000;
$color-white: #fff;

$font-size-medium: 3.5rem;
$font-size-normal: 3.7rem;
$font-size-small: 2.5rem;

// Side navigation round buttons
$button-round-height: 6.6rem;
$button-round-width: 6.6rem;

// Menu button colors
$color-button-background-1: #aae0ec;
$color-button-background-2: #fff8afs;
