<div class="row menu-navigation">

  <div class="col-5 menu-navigation__box">
    <button class="menu-navigation__box--button">
      <div class="menu-navigation__box--button--text">Apie Kretingos rajoną</div>
      <div class="menu-navigation__box--button--icon">
        <img src="assets/img/mockup-data/city.png" alt="Menu icon">
      </div>
    </button>
  </div>

  <div class="col-5 menu-navigation__box">
    <button class="menu-navigation__box--button" routerLink="/headlines">
      <div class="menu-navigation__box--button--text">Naujienos</div>
      <div class="menu-navigation__box--button--icon">
        <img src="assets/img/menu-icons/news.png" alt="Menu icon">
      </div>
    </button>
  </div>

</div>
