<div class="object-descp-box">
  <div class="object-descp-box__title">Skonių kėlionė po Kretingos rajoną</div>
  <div class="object-descp-box__publication">Publikuota: 2022-02-23</div>
  <div class="object-descp-box__map">
    <app-map></app-map>
  </div>
  <div class="object-descp-box__slide-show">
    <app-slide-show></app-slide-show>
  </div>
  <div class="object-descp-box__publication">Nuotraukos autorius</div>
  <div class="object-descp-box__description">Tekstas</div>
  <div class="object-descp-box__qr-code">
    <div class="object-descp-box__qr-code--qr"></div>
    <div class="object-descp-box__qr-code--text">Maršrutas</div>
  </div>
</div>
